* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.background-container--img1 {
    background-image: url(./images/bg.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    opacity: .7;
}

.img-content {
    background-color: black;
    color: white;
    border: solid 2px black;
    outline: inset .5rem purple;
    outline-offset: 1rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    letter-spacing: .5rem;
    font-weight: 100;
}

.background-container--light1 {
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 3rem 5rem;
    line-height: 1.5rem;
    color: #666;
    font-size: .9rem;
} 

h2 {
    margin-bottom: 1rem;
}

.background-container--img2 {
    background-image: url(./images/bg2.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    opacity: .7;
}

.logo {
    text-align: center;
}

.background-container--dark1 {
    background-color: #282e34;
    text-align: center;
    padding: 3rem 5rem;
    line-height: 1.5rem;
    color: #ddd;
    font-size: .9rem;
}

.background-container--img3 {
    background-image: url(./images/bg3.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    opacity: .7;
}

.background-container--light2 {
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 3rem 5rem;
    line-height: 1.5rem;
    color: #666;
    font-size: .9rem;
}

.background-container--img4 {
    background-image: url(./images/bg4.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    opacity: .7;
}

.background-container--dark2 {
    background-color: #282e34;
    text-align: center;
    padding: 3rem 5rem;
    line-height: 1.5rem;
    color: #ddd;
    font-size: .9rem;
}

.background-container--img5 {
    background-image: url(./images/bg.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    opacity: .7;
}

@media (max-width:900px) {
    h1 {
        font-size: 2rem;
        letter-spacing: .3rem;
    }
    .img-content {
        width: fit-content;
    }
}

@media (max-width:650px) {
    h1 {
        font-size: 1rem;
        letter-spacing: .3rem;
    }
    .img-content {
        width: fit-content;
    }
}

@media (max-width:450px) {
    h1 {
        font-size: .7rem;
        letter-spacing: 0rem;
    }
    .img-content {
        width: fit-content;
    }
}
